* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------
INIZIO COMMON
----------------------*/
body {
    color: rgb(255, 255, 255);
}
/*--------------------
FINE COMMON
----------------------*/


/*--------------------
INIZIO HEADER
----------------------*/
header {
    height: 30px;
    background-color: rgb(19, 15, 243);
    display: flex;
    justify-content: flex-end;
}
/*--------------------
FINE HEADER
----------------------*/

/*--------------------
INIZIO MAIN
----------------------*/
main {
    background-color: red;

    overflow: auto;

}
.container {
    width: 80%;
    background-color: black;
    margin: 0 auto;

    display: flex;
    gap: 20px 10px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box {
    position: relative;
    min-width: 250px;


    
}
img {
    width: 100%;
    display: block;
}
.nome {
    position: absolute;
    bottom: 1px;
    background-color: rgb(128, 128, 128, 0.5);
    font-size: 12px;
    padding: 2px 2px;
    
}
/*--------------------
FINE MAIN
----------------------*/


/*--------------------
INIZIO FOOTER
----------------------*/
footer {
    height: 80px;
    background-color: yellow;
}
/*--------------------
FINE HEADER
----------------------*/


