* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------
INIZIO COMMON
----------------------*/
body {
    color: rgb(255, 255, 255);
}
/*--------------------
FINE COMMON
----------------------*/


/*--------------------
INIZIO HEADER
----------------------*/
header {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
    margin-right: 20px;
}
.material-symbols-outlined {
    vertical-align: middle;
}

.top {
    background-color: #4a4a4a;
    padding: 3px;
    border-radius: 5px;
    vertical-align: middle;

}
.icontop {
    background-color: #4a4a4a;
    margin-left: 10px;
    padding: 3px;
    border-radius: 5px;
}

/*--------------------
FINE HEADER
----------------------*/

/*--------------------
INIZIO MAIN
----------------------*/
main {
    background-color: black;
    height: calc(100vh - 180px);
    overflow: auto;

}
.container {
    width: 80%;
    background-color: black;
    margin: 0 auto;

    display: flex;
    gap: 20px 10px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.box {
    position: relative;
    min-width: 250px;    
}
img {
    width: 100%;
    display: block;
}
.nome {
    position: absolute;
    bottom: 1px;
    background-color: rgb(128, 128, 128, 0.5);
    font-size: 12px;
    padding: 2px 2px;
    
}
/*--------------------
FINE MAIN
----------------------*/


/*--------------------
INIZIO FOOTER
----------------------*/
.footer {
    height: 80px;
    width: 100%;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-l {
    display: flex;
    font-size: 15px;
    margin-left: 10px;
    gap: 10px;
    width: 200px;
}
.iconbot {
    font-size: 25px;
}
.footer-mini {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    font-size: 13px;

}
.footer-c {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 15px;
}
.footer-r {
    background-color: #4a4a4a;
    color: red;
    padding: 30px;
}
.iconbot-green {
    color: #4bc900;
}

/*--------------------
FINE HEADER
----------------------*/


